# shellcheck shell=bash
# vi: ft=sh

# Source .env if it is present
dotenv_if_exists

# Reload environment on any changes to Nix sources
mapfile -d '' -t nix_files < <(fd -0 -tf -enix)
if [[ ${#nix_files[@]} -gt 0 ]]; then
  watch_file "${nix_files[@]}"
fi
unset nix_files

# Activate direnv Nix integration, using the root flake
use flake

# Activate Python venv if present
if [[ -f "${PWD}/.venv/bin/activate" ]]; then
  # shellcheck disable=SC1091
  source "${PWD}/.venv/bin/activate"
fi
