# vi: ft=sh
# shellcheck disable=all

# Source .env if it is present
dotenv_if_exists

# Activate direnv Nix integration, using the root flake
use flake

# Reload environment on any changes to Nix sources
watch_file $(fd -tf -enix)
