# shellcheck shell=bash
# vi: ft=sh

# Source .env if it is present
dotenv_if_exists

# Activate direnv Nix integration, using the root flake
use flake

# Reload environment on any changes to Nix sources
while IFS= read -r nix_file; do
  watch_file "$nix_file"
done < <(fd -tf -enix)

# Activate Python venv if present
if [[ -f "${PWD}/.venv/bin/activate" ]]; then
  # shellcheck disable=SC1091
  source "${PWD}/.venv/bin/activate"
fi
