[project]
name = "nixcfg"
version = "0.0.0"
description = "Editor tooling dependencies"
requires-python = ">=3.11"
dependencies = [
  "aiohttp",
]

[build-system]
requires = ["uv_build>=0.9.0,<0.10.0"]
build-backend = "uv_build"
