---
name: Nightly Flake Update

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  update-and-build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: argus
            os: macos-15
            command: nix build .#darwinConfigurations.argus.system
            needs_brew: true
            update_lock: true
          - name: rocinante
            os: macos-15
            command: nix build .#darwinConfigurations.rocinante.system
            needs_brew: true
            update_lock: false
          - name: linux
            os: ubuntu-24.04
            command: nix run .#update -- --list
            needs_brew: false
            update_lock: false

    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: cachix/cachix-action@v15
        with:
          name: gkze
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: DeterminateSystems/update-flake-lock@main
        if: matrix.update_lock
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - run: brew install 1password-cli
        if: matrix.needs_brew
      - run: ${{ matrix.command }}
