---
name: Nightly Flake Update

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  update-lock:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - run: nix flake update
      - uses: actions/upload-artifact@v4
        with:
          name: flake-lock
          path: flake.lock

  argus:
    needs: update-lock
    runs-on: macos-15
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: cachix/cachix-action@v15
        with:
          name: gkze
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: actions/download-artifact@v4
        with:
          name: flake-lock
          path: .
      - run: brew install 1password-cli
      - run: nix build .#darwinConfigurations.argus.system

  rocinante:
    needs: update-lock
    runs-on: macos-15
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: cachix/cachix-action@v15
        with:
          name: gkze
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: actions/download-artifact@v4
        with:
          name: flake-lock
          path: .
      - run: brew install 1password-cli
      - run: nix build .#darwinConfigurations.rocinante.system

  linux:
    needs: update-lock
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: cachix/cachix-action@v15
        with:
          name: gkze
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: actions/download-artifact@v4
        with:
          name: flake-lock
          path: .
      - run: nix run .#update -- --list

  create-pr:
    needs: [update-lock, argus, rocinante]
    if: ${{ needs.argus.result == 'success' && needs.rocinante.result == 'success' }}
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: flake-lock
          path: .
      - uses: peter-evans/create-pull-request@v7
        with:
          branch: update_flake_lock_action
          delete-branch: true
          title: "flake.lock: Update"
          commit-message: "flake.lock: Update"
          body: |
            Automated changes by the Nightly Flake Update workflow.
